html,body{
margin:0;
padding:0;
overflow:hidden;
background:#000;
color:#fff;
}

#webgl{
position:fixed;
inset:0;
z-index:0;
}

#ui{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:flex-start;
pointer-events:none;
z-index:5;
}

#title{
margin-top:6vh;
font-size:7vw;
letter-spacing:10px;
font-weight:900;
mix-blend-mode:screen;
}
